---
import Layout from "../layouts/Layout.astro";
import { getTestimonials } from "../utils/sanity";
import { urlFor } from "../utils/image";

const testimonials = await getTestimonials();
const [testimonial] = testimonials;
// console.log(testimonial.image1);
---

<Layout title="Testimonials">
  <h2 class="text-darktan text-5xl text-center mb-8">{testimonials.title}</h2>

  <div class="lg:w-3/4 m-auto gap-8 mb-12 text-xl">
    <h1 class="text-darktan font-extrabold text-5xl text-center mb-8">
      Testimonials
    </h1>
    {
      Object.keys(testimonial)
        .sort((a, b) => {
          const numA = parseInt(a.replace("quote", ""), 10);
          const numB = parseInt(b.replace("quote", ""), 10);
          return numA - numB;
        })
        .map((key, index) => {
          if (key.startsWith("quote")) {
            const quoteNumber = key.replace("quote", "");
            let imageKey = `image${quoteNumber}`;
            if (!testimonial[imageKey]) {
              imageKey = `image1`;
            }
            const nameKey = `name${quoteNumber}`;

            return (
              <div
                class={`lg:flex mb-12 ${
                  index % 2 !== 0 ? "flex-row-reverse" : ""
                }`}
              >
                {testimonial[imageKey] && (
                  <div class="">
                    <img
                      src={urlFor(testimonial[imageKey]).url()}
                      alt={testimonial[imageKey]}
                      class="w-full h-[450px] object-contain"
                    />
                  </div>
                )}
                <div class="lg:w-2/3 bg-tan my-auto p-8">
                  <p class="text-2xl">"{testimonial[key]}"</p>
                  <p class="text-2xl font-bold text-darktan text-center mt-8">
                    ~ {testimonial[nameKey]} ~
                  </p>
                </div>
              </div>
            );
          }
        })
    }
  </div>
</Layout>
