---
import { PortableText } from "astro-portabletext";

const customSerializers = {
  marks: {
    link: ({ children }: { children: React.ReactNode }, value: any) => {
      const href = value.href || '';
      if (href.startsWith('mailto:')) {
        return <a href={href}>{children}</a>;
      }
      return <a href={href} target="_blank" rel="noopener noreferrer">{children}</a>;
    },
  },
};

const PortableTextComponent = ({ value }) => {
  return <PortableText value={value} components={customSerializers} />;
};

export default PortableTextComponent;
---

<PortableTextComponent value={Astro.props.value} />